body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

p {
    color: gray;
}

.container-fluid {
    padding: 7% 15%;

}

/* MAIN Section */


.lead{
border-radius: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  } */

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    /* background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  border-radius: 1%;
}



/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}







/* Sections */
.colored-section{
    background-color: #9cc1f8;
    color: white;
}

.white-color{
    background-color: white;
}

.big-heading {
    
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.5
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}



/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Title Section */

#title {
    
    
}
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    left: 20%;
    position: absolute;
    /* border-radius: 70%; */
    width: 70%;
    padding-left: 70px;
   
}


/* Download Buttons */

.resources-button {
    margin: 5% 2% 5% 2%;
}


/* Features Section */

.feature-box {

    font-weight: bold;
    padding: 5%;
}

#feature {
    background-color: white;
    padding: 7% 15%;
    /* position: relative; */
}

.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #9cc1f8;
}

.icon:hover {
    color: aquamarine;
}

/* Testimonial Section */
#testimonials {
    background-color: #9cc1f8;
}

.testimonial-text{
font-size: 3rem;
line-height: 1.5;
}

.testimonial-image {
    width: 70%;
    border-radius: 20%;
    margin: 20px;
}

#press {
    background-color: #9cc1f8;
    padding-bottom: 1%;
}

.press-logo {
    width: 12%;
    margin: 10px 20px 10px;
}


/* Pricing section */
#pricing {
    padding: 20px;
}

.price-text{
   font-size: 3rem;
   line-height: 2; 
}

.pricing-column {
    padding: 3% 2%;
}

/* Footer Section */

.social-icon {
    color: blue;
    margin: 20px 10px;
}

.white-section{
    margin: 0px 10px;
}

.social-icon:hover {
    color: rgb(193, 193, 253);
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
    }

}



